# What is List?

## Problem

If you want to store multiple items, you would need to create a separate variable for each one.

```
student1 = "Ahmad"
student2 = "Ali"
student3 = "Kashif"
```

This approach works fine if you have just a few items. But what if you have 10, 100, or even more? It quickly becomes unmanageable.

If you want to add or remove an item, you have to manually shift the data around or create new variables.

```
student4 = "Usman"
```

Accessing an item requires you to remember the exact variable name associated with it.

```
print(student1)
print(student2)
```

## Solution

### List
A list in Python is like a container that can hold multiple items, one after another. Imagine you have a shopping list where you write down everything you need to buy. A Python list is very similar, but instead of just groceries, it can hold all kinds of things like numbers, words, or even other lists!

### Store Multiple Items Together:

A list allows you to keep multiple items in one place. For example, if you want to keep track of all your students' names, you can store them in a list.

In [ ]:
students: list[str] = ["Ahmad", "Ali", "Kashif"]

### Access Items by Position:

Lists keep items in the order you put them in. You can access any item by telling Python where it is in the list (starting from 0).

In [ ]:
print(students[0])
print(students[1])

Ahmad
Ali

### Change Items:

You can easily change an item in the list if you need to update it.

In [ ]:
students[0]: list[str] = "Saleem"

In [ ]:
print(students)

['Saleem', 'Ali', 'Kashif']

## Array Methods

In [ ]:
[i for i in dir(students) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### Append a new student

In [ ]:
students.append("Usman")
print(students)

['Saleem', 'Ali', 'Kashif', 'Usman']

### insert()

In [ ]:
students.insert(0,"ahmad")

In [ ]:
print(students)

['ahmad', 'Saleem', 'Ali', 'Kashif', 'Usman']

In [ ]:
students.insert(3,"Iqbal")
print(students)

['ahmad', 'Saleem', 'Ali', 'Iqbal', 'Kashif', 'Usman']

### Pop the last student

In [ ]:
last_student:list[str] = students.pop()
print(last_student)
print(students)

Usman
['ahmad', 'Saleem', 'Ali', 'Iqbal', 'Kashif']

### Remove a specific or custom student by name

In [ ]:
students.remove("Ali")
print(students)

['ahmad', 'Saleem', 'Iqbal', 'Kashif']

### Finding the attributes and methods of list type

### shallow copy vs deep copy

In [ ]:
# shallow copy
a : list[str] = ['a','b','c']
b = a # shallow copy
a.append('d')
print("a: ",a)
print("b: ",b)
print(id(a), id(b))

a:  ['a', 'b', 'c', 'd']
b:  ['a', 'b', 'c', 'd']
133503951166848 133503951166848

In [ ]:
# deep copy
a : list[str] = ['a','b','c']
b = a.copy() # Deep copy
print("a: ",a)
print("b: ",b)
c = a[:] # another way of Deep copy

a.append('d')
print("a: ", a)
print("b: ", b)
print("c: ", c)
print(id(a), id(b), id(c))

a:  ['a', 'b', 'c']
b:  ['a', 'b', 'c']
a:  ['a', 'b', 'c', 'd']
b:  ['a', 'b', 'c']
c:  ['a', 'b', 'c']
133503943485312 133503035500416 133503892746176

### extend()
Supply the array to be extended

In [ ]:
arr1: list[int] = [1,2,3]
a : list[int] = [4,5,6]
a.extend(a)
print(a)

[4, 5, 6, 4, 5, 6]

### clear()

In [ ]:
a.clear()
print(a)

[]

### count() and list()

In [ ]:
characters : list[str] = list("abcdefghijklmnopqrstuvwxyzaaa")
characters.count('a')

4

### sort() and reverse()
Purpose: Sorts the elements in the list in-place in descending order. It modifies the list to be sorted based on values.

Purpose: Reverses the order of the elements in the list in-place without sorting them. It simply flips the list from end to start.

In [ ]:
characters.sort()
print(characters)

characters.sort(reverse=True)
print(characters)

characters.reverse()
print(characters)

['a', 'a', 'a', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a', 'a', 'a', 'a']
['a', 'a', 'a', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

### index()

In [ ]:
characters.index('a',3)

26

## Slicing

In [ ]:
characters : list[str] = list("ABCDEFGHIJKLMNOPQRSTUVWXYZ")
print(characters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
#                          0    1    2                                                                                                                 25
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
#                         -26   -25  -24                                                                                                                         -1

# defualt slicing go from left to right
print(len(characters))
print(characters[0:6]) # 0= include : index 2-1 = 1
print(characters[:4]) # not pass any number = all
print(characters[-26:-24])# 0= include : index -24-1 = -25
print(characters[0:2:1]) # 0= include : index 2-1 = 1
print(characters[0:2:])
print(characters[0:7:2])

26
['A', 'B', 'C', 'D', 'E', 'F']
['A', 'B', 'C', 'D']
['A', 'B']
['A', 'B']
['A', 'B']
['A', 'C', 'E', 'G']

In [ ]:
print(characters)
print(characters[::])

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
                        #  1    2    3    4    5    6    7    8
print(characters[::-1])
print(characters[4:2:-1]) #E,D,C
print(characters[4:7])

['H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']
['E', 'D']
['E', 'F', 'G']

In [ ]:
#                          0    1    2    3    4   5     6    7
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
#                         -8    -7   -6  -5    -4   -3   -2   -1

# iteration slicing ->
# step -> positive
# step <- negative
print(characters[-2:-5:-1]) # ['G', 'F', 'E']
print(characters[-5:-2]) # ['D', 'E', 'F']
print(characters[::])
print(characters[::-1])

['G', 'F', 'E']
['D', 'E', 'F']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
['H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

## Extra

In [ ]:
print(help(print))

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

None